body{
    background-color: #F6F0DB;
    font-family: Roboto Condensed;
    font-size: 14pt;
}

img {
    width: 100%;
    max-width: 125px;
    max-height: 125px;
    margin: 0 auto;
    display: block;

}

h1 {
    font-family: Rajdhani;
    color: #BD6D6D;
    font-size: 35pt;
    text-align: center;
}

label{
    color: #BD6D6D;
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 14pt;
}

form{
    padding: 0 30px;
}

.form-control {
    margin: 0 auto;
}

.form-group {
    margin-bottom: 0rem;
}

.btn:not(:disabled):not(.disabled) {
    float: right;
    color: white;
    background: #BD6D6D;
    margin-top: 13px;
}

p{
    color: #BD6D6D;
    text-align: center;
    margin-top: 20px;
}

p span{
    font-weight: bold;
}

.media{
    justify-content: center;
}

.image {
    background-image: url(../img/Icones\ e\ imagens.png);
}

.facebook {
    width: 110px;
    height: 80px;
    background-position: 1800px 1005px;
    background-size: 600px;
}

.google {
    width: 110px;
    height: 80px;
    background-position: 1705px 1005px;
    background-size: 600px;
}